.about-container{
    margin-top: 5rem;
}

.about-container .title{
    font-size: 1.5rem;
    font-weight: light;
}

.about-container .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 10rem;
}

.about-container .about-content .personal{
    width: 20%;
    text-align: center;
    box-shadow: 0px 0px 15px 1px #C4C4C4;/*x-y-độ mờ- độ phóng rộng- màu   */
}

.about-container .about-content .personal .image{
    margin: 1rem;
}

.about-container .about-content .personal .image img{
    width: 100%;
}

.about-container .about-content .personal .image .icons{
    margin-top: 1rem;
}

.about-container .about-content .personal .image .icons .icon{
    font-size: 4rem;
}

.about-container .about-content .self-intro{
    width: 60%;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
}

.about-container .about-content .self-intro .header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    background-color: #F7F7F7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.about-container .about-content .self-intro .header .icon{
    margin-right: 0.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

.about-container .about-content .self-intro .content{
    text-align: left;
}

.about-container .about-content .self-intro .content h1{
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.about-container .about-content .self-intro .content p{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/*-------RESPONSIVE--------*/
@media(max-width: 1300px){
    .about-container .about-content .personal{
        width: 30%;
    }
  }
  
  @media(max-width: 991px){
    .about-container .about-content{
        flex-direction: column;
    }
    .about-container .about-content .personal{
        margin-bottom: 3rem;
    }
  }
  
  @media(max-width: 768px){
    .about-container .about-content .personal{
        width: 50%;
    }
    .about-container .about-content .self-intro{
        width: 100%;
    }
  }
  @media(max-width: 450px){
    
  }