.experience-container{
    background-color: #E9D5A1;
    padding: 5rem 0rem;
}

.experience-container .title{
    font-size: 1.5rem;
}


.experience-container .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.experience-container .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.experience-container .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.experience-container .box-container .box h3{
    font-size: 2rem;
    color:#000;
    padding-top: 1.5rem;
}

.experience-container .box-container .box p{
    font-size: 1.4rem;
    color:#000;
    padding: 1rem 0;
}

@media (max-width:400px){
    .experience-container .box-container .box{
        width:100%;
    }
 }